*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
    color: var(--color-grey-dark);
}

.row {
    width: 100%;
    float: left;
}

.box {
    width: 90%;
    margin: 0 auto;
    max-width: 1024px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

body {
    overflow-x: hidden;

    &::-webkit-scrollbar {}
}