:root {
    --color-white: #fff;
    --color-black: #000;
    --color-ice: #f4f4f4;

    --color-primary: #29B364;
    --color-primary-light: #38D57B;
    --color-primary-dark: #1F9E55;

    --color-secundary: #E12026;
    --color-secundary-light: #FF4D52;
    --color-secundary-dark: #BB272C;

    --color-grey-light: #404250;
    --color-grey-dark: #353743;
    --color-grey-extra-light: #ebebeb;

    --color-blue: #2980b9;
    --color-blue-dark: #295FB9;
    --color-blue-light: #3498db;

    --color-red: #c0392b;
    --color-red-dark: #e74c3c;
    --color-red-light: #B82313;

    --color-green: #27ae60;
    --color-green-light: #2ecc71;
}