:root {
    --color-white: #fff;
    --color-black: #000;
    --color-ice: #f4f4f4;

    --color-primary: #434343;

    --color-secundary: #00d748;
    --color-secundary-dark: #04c143;

    --color-grey-light: #404250;
    --color-grey-dark: #353743;

    --color-blue: #2980b9;
    --color-blue-dark: #295FB9;
    --color-blue-light: #3498db;

    --color-red: #c0392b;
    --color-red-dark: #e74c3c;
    --color-red-light: #B82313;

    --color-green: #27ae60;
    --color-green-light: #2ecc71;
}