.menu {
    background-image: linear-gradient(to right, var(--color-primary-dark), var(--color-primary-light));
    position: relative;
    border-bottom: 5px solid var(--color-white);

    &__mobile-icon {
        @include respond(768) {
            display: none;
        }

        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);


        width: 33%;
        display: flex;
        justify-content: flex-end;

        &__box {
            width: 45px;
            height: 45px;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            position: relative;

            &.active {
                & span {
                    width: 100%;
                    transform: translate(-50%, -50%) rotate(45deg);

                    &::after {
                        display: none;
                    }

                    &::before {
                        top: 0;
                        width: 100%;
                        transform: translateX(-50%) rotate(90deg);
                    }
                }
            }

            & span {
                width: 60%;
                height: 4px;
                background-color: var(--color-white);
                border-radius: 50px;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                transition: .5s ease all;

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 140%;
                    height: 4px;
                    background-color: var(--color-white);
                    border-radius: 50px;
                    transition: 0.5s ease all;
                }

                &::before {
                    top: 10px;
                }

                &::after {
                    top: -10px;
                }
            }
        }
    }

    &__box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;

        & li 
        {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            position: relative;

            & a 
            {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 20px 10px;
                width: 100%;
                height: 100%;
                transition: .5s ease all;
                color: var(--color-white);
            }

            &:hover 
            {
                background-color: var(--color-primary-light);

                & ul
                {
                    display: flex;
                }                
            }
        }

        &__sub
        {
            display: none;
            overflow: hidden;
            position: absolute;
            width: 200%;
            top: 100%;
            left: 0;
            background-color: var(--color-grey-extra-light);
            z-index: 1;
            flex-direction: column;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            border-top: 5px solid var(--color-white);

            & li 
            {
                display: flex;

                & a 
                {
                    display: flex;
                    justify-content: flex-start;
                    padding: 25px;
                    font-size: .9em;
                    transition: .5s ease all;
                    color: var(--color-grey-dark);

                    &:hover 
                    {
                        background-color: var(--color-primary-dark);
                        color: var(--color-white);
                    }
                }
            }
        }
    }
}