.menu {
    background-image: linear-gradient(to right, var(--color-primary-dark), var(--color-primary-light));
    border-right: 10px solid var(--color-white);
    box-shadow: 0 0 25px rgba(0, 0, 0, .3);

    @media (max-width: 47.99em) {
        position: fixed;
        z-index: 10000;
        left: -100%;
        top: 0;
        width: 80%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: flex-start; 
        overflow-y: scroll;
        transition: .5s ease all;

        &.active 
        {
            left: 0;
        }

        &::-webkit-scrollbar {
            width: 0px;
            height: 0px;
        }
             
        &__box {
            width: 100%;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding: 50px 0;

            & li 
            {
                display: flex;
                flex-direction: column;
                width: 80%;
                transition: .5s ease all;

                &:hover 
                {
                    & ul 
                    {
                        display: flex;
                    }
                }

                &:not(:last-child)
                {
                    margin-bottom: 15px;
                }

                & a 
                {
                    color: var(--color-white);
                    width: 100%;
                    padding: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: .5s ease all;
                    font-weight: bold;
                    background-color: var(--color-primary-dark);

                    &:hover 
                    {
                        background-color: var(--color-primary-light);
                    }
                }

                & ul
                {
                    display: none;
                    flex-direction: column;
                    width: 100%;
                    margin-left: 1px;

                    & li 
                    {
                        display: flex;
                        width: 100%;
                        margin: -1px !important;
                        transition: .5s ease all;
                        
                        & a 
                        {
                            display: flex;
                            width: 100%;
                            font-size: .9em;
                            font-weight: normal;
                            justify-content: flex-start;
                            background-color: var(--color-primary);
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 48em) {
        position: relative;
        border-bottom: 5px solid var(--color-white);

        &__box {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: stretch;

                    & li 
                    {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        position: relative;

                        & a 
                        {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 20px 10px;
                            width: 100%;
                            height: 100%;
                            transition: .5s ease all;
                            color: var(--color-white);
                            font-size: .9em;

                            @include respond(960)
                            {
                                font-size: 1em;
                            }
                        }

                        &:hover 
                        {
                            background-color: var(--color-primary-light);

                            & ul
                            {
                                display: flex;
                            }                
                        }
                    }

                    &__sub
                    {
                        display: none;
                        overflow: hidden;
                        position: absolute;
                        width: 200%;
                        top: 100%;
                        left: 0;
                        background-color: var(--color-grey-extra-light);
                        z-index: 1;
                        flex-direction: column;
                        border-bottom-left-radius: 10px;
                        border-bottom-right-radius: 10px;
                        border-top: 5px solid var(--color-white);

                        & li 
                        {
                            display: flex;

                            & a 
                            {
                                display: flex;
                                justify-content: flex-start;
                                padding: 25px 10px;
                                font-size: .75em;
                                transition: .5s ease all;
                                color: var(--color-grey-dark);
                                

                                @include respond(960)
                                {
                                    font-size: .9em;
                                    padding: 25px;
                                }

                                &:hover 
                                {
                                    background-color: var(--color-primary-dark);
                                    color: var(--color-white);
                                }
                            }
                        }
                    }
                }
        } 
    }