.our-differentials {
    position: relative;
    z-index: 2;

    &__box {
        display: flex;
        flex-direction: column;
        overflow-x: scroll;

        &::-webkit-scrollbar {
            height: 0;
        }

        &__header {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 5px;

            & h1 {
                font-size: 1.8em;
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: -1px;
                width: 100%;
                text-align: center;
                line-height: 1;
            }
        }

        &__scroll-box {
            overflow-x: scroll;

            &::-webkit-scrollbar {
                height: 0;
            }

            @include respond(768) {
                padding-bottom: 10px;

                &::-webkit-scrollbar {
                    height: 10px;
                    background-color: var(--color-ice)
                }


                &::-webkit-scrollbar-thumb {
                    background-color: var(--color-grey-light);
                }
            }


            &__main {
                display: flex;
                justify-content: space-between;
                width: calc(300px * 5);

                &__item {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    background-color: var(--color-grey-dark);
                    border-radius: 10px;
                    width: 300px;
                    margin-right: 20px;
                    padding: 10px;

                    &:last-of-type {
                        margin-right: 0;
                    }

                    & img {
                        display: flex;
                        margin: 10px auto;
                        width: 50px;
                    }

                    & h1 {
                        width: 100%;
                        text-align: center;
                        color: var(--color-white);
                        font-weight: normal;
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
}