.slider {
    width: 100%;
    position: relative;
    overflow: hidden;

    &__box {
        width: 300%;
        display: flex;
        position: relative;
        left: 0;
        transition: .5s ease all;

        &__item {
            width: 33.333%;
            display: flex;
            justify-content: center;
            position: relative;

            &__box {
                top: 50%;
                transform: translateY(-50%);
                width: 90%;
                max-width: 960px;
                display: flex;
                flex-direction: column;
                max-width: 1024px;

                & h1 {
                    color: var(--color-white);
                    font-size: 3.5em;
                    font-weight: bold;

                    @include respond(1260) {
                        font-size: 5.5em;
                    }
                }

                & p {
                    color: var(--color-white);
                    background-color: var(--color-grey-dark);
                    display: flex;
                    align-self: flex-start;
                    padding: 5px 50px;
                    border-radius: 8px;

                    @include respond(1260) {
                        font-size: 1.5em;
                    }
                }
            }

            & img {
                display: flex;
            }
        }
    }

    &__controls {
        z-index: 2000;
        position: absolute;
        width: 95%;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;

        & span
        {
            cursor: pointer;
            width: 30px;
            height: 30px;
            background-color: var(--color-grey-dark);
            border-radius: 50%;
            border: 3px solid var(--color-white);
            transition: .5s ease background-color;

            &:hover 
            {
                background-color: var(--color-blue-dark);
            }

            &.active
            {
                background-color: var(--color-green);
            }

            &:nth-child(2)
            {
                margin: 0 10px;
            }
        }
    }
}